
body {
	margin:0px;
}


 p {
	 font-family: 'Open Sans Light';
 }

.adress p{
	padding: 10px;
	display: inline-block;
	margin: 0px;
}

.nav {
display: flex;
justify-content: space-between;
padding: inherit;
}

.nav a {
 color:white;
 text-decoration: none;
 padding: inherit;
	}

.menu {
	padding: 10px;

}

.menu img {
	padding-left: 10px;
	padding-right: 10px;
}


header {
background-image: url("./images/bg1.png");
background-repeat: no-repeat;
background-attachment: fixed;
text-transform: uppercase;
color: white;
padding: 10px;
border-image: url("./images/frame.png") round;
width: auto;
height: 100%;
flex-wrap: wrap;
}

.logo_header {
	margin: 10px;
	padding-bottom: 30px;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo_header{
	display: block;
	margin: 0 auto;
}

.center_header {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 80px;
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center; }

.center_header_closer {
	margin: 20px;
	margin-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.big-romb{
	width: 186px;
	height: 186px;
}

.close_rombs {
	padding-left: 2px;
	padding-right: 2px;
}

.descr {
	background-color:#ac9766;
	display: flex;
	justify-content: center;
	padding-top: 90px;
	padding-bottom: 140px;
	flex-direction: column;
	padding-left:27%;
	padding-right: 27%;
}

h2, .location p {
font-family: ﻿OpenSans-Light, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular;
color: rgba(235, 235, 235, 255);
text-transform: uppercase;
}

.descr h2 {
	text-align:center;
}

.descr p{
font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular;
font-size: 14pt;
color: rgba(0, 0, 0, 255);
text-align: left;
}

.decor{
	height: 140px;
	width: 140px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-self: center;

}

.benefits {
	display: flex;
	justify-content: space-around;	
	margin-top: 30px;
}

.location {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url("./images/Location-map-all.png") center no-repeat;
	background-size: cover;
	height: 744px;
	
}


.center-loc {
	align-items: center;
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.center-loc h2 {
	margin-bottom: 0px;

}

.location .center-loc p {
	margin: 10px;
	margin-top: 75%;
	font-size: 20px;
	line-height: 25px;
	
}

.logo_bg {
	background-color:#48280a;
	width: 240px;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;


}

.logo_bg img {
	width:70px;
	height: 93px;
	padding: 10px;
}


.loc-buttons, .loc-icons { 
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	font-family: 'Open Sans Ligth';

}

.loc-buttons{
	margin-top: 5%;
}

.button, .button_litgher {
	background-color: #48280a;
	display:flex;
	margin: 1%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-basis: 5%;
	flex-wrap: nowrap;
}

.button p, .button_litgher p {
	margin: 0px
	
}

.button_litgher {
	background-color: #603a17;
}

