
body {
	margin:0px;
	padding: 0px;
}


 p {
	 font-family: 'Open Sans', sans-serif;
 }

#container {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
 }

.adress p{
	padding: 10px;
	display: inline-block;
	margin: 0px;
	font-weight: 500;
}

.nav {
display: flex;
justify-content: space-between;
padding: inherit;
font-size: 15px;
}

.nav a {
 color:white;
 text-decoration: none;
 padding: inherit;
 font-family: 'Open Sans', sans-serif;
	}

.menu {
	padding: 10px;

}

.menu img {
	padding-left: 10px;
	padding-right: 10px;
}


header {
    background-image: url(./images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    text-transform: uppercase;
    color: white;
	padding: 10px;
    flex-wrap: wrap; }

.border {
	border: 2px solid;
	border-color: rgba(255,255,255,0.3);
	margin: 10px;
}

.logo_header {
	margin: 10px;
	padding-bottom: 30px;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.logo_header{
	display: block;
	margin: 0 auto;
}

.center_header {
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 80px;
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center; }

.center_header_closer {
	margin: 20px;
	margin-top: 10%;
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.big-romb{
	width: 186px;
	height: 186px;
}

.close_rombs {
	padding-left: 2px;
	padding-right: 2px;
}

.descr {
	background-color:#ac9766;
	display: flex;
	justify-content: center;
	padding-top: 90px;
	padding-bottom: 140px;
	flex-direction: column;
	padding-left:27%;
	padding-right: 27%;
	min-height: 900px;
	transition: 0.5;
}

@media screen and (max-width: 600px) {
.descr {
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left:4%;
	padding-right: 4%;
	}
}

h2, .location p {
font-family: 'Open Sans';
color: rgba(235, 235, 235, 255);
text-transform: uppercase;
}

.descr h2 {
	text-align:center;
}

.descr p{
font-family: 'Open Sans';
font-size: 14pt;
color: rgba(0, 0, 0, 255);
text-align: left;
}

.decor{
	height: 140px;
	width: 140px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-self: center;

}

.benefits-buttons {
	display: flex;
	justify-content: space-around;	
	margin-top: 30px;
}

.location {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url("./images/Location-map-all.png") center no-repeat;
	background-size: cover;
	height: 744px;
	padding-bottom: 50px;
	
}


.center-loc {
	align-items: center;
	display:flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 70px;
}

.center-loc h2 {
	margin-bottom: 0px;
}

.location .center-loc p {
	margin: 10px;
	font-size: 20px;
	margin-top: 45%;
	line-height: 25px;
	
}

.logo_bg {
	background-color:#48280a;
	justify-content: center;
	align-items: center;
	margin-top: 20px;


}

.logo_bg img {
	width:70px;
	height: 93px;
	padding: 10px;
}

.loc-icons {
	align-self: flex-end;
	margin-right: 15px;
}
.loc-buttons { 
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	font-family: 'Open Sans Ligth';

}

.loc-buttons{
	margin-top: 5%;
	margin-right: 4%;
}

.button, .button_litgher {
	background-color: #48280a;
	display:flex;
	margin: 1%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-wrap: nowrap;
}

.button p, .button_litgher p {
	margin: 0px
	
}

.button_litgher {
	background-color: #603a17;
}

.benefits {
	display: flex;
	align-items: center;
	background-color: #603a17;
	opacity: 0.6;
	padding-bottom: 80px;
	flex-direction: column;
	min-height: 716px;
	

}

.benefits-wrap-row {
	justify-content: space-around;
	display:flex;
	align-content: center;
	flex-wrap:wrap;
	padding-top: 80px;
	width: 75%;
	
}

.title-ben {
	padding-top: 50px;
}

.benefit {
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: 'Open Sans Ligth';
	font-size: 15px;
	text-transform: uppercase;
	flex-direction: column;
	color:white;
	min-width: 203px;
	max-width: 20%;
}

.benefit img {
	flex-basis: 18px;
	max-width: 18px;
}

.solutions {
	display:flex;
	text-align: center;
	flex-direction: column;
	font-family: 'Open Sans Ligth';
	color:white;
	background: url("./images/Solutions.png") no-repeat center;
	min-height: 750px;
	width: 100%;
	
}

.solutions h2 {
	margin-top: 40px;
}

.wrap-row {
	display:flex;
	flex-direction: row;
	
}

.wrap-row-solution {
	justify-content: space-around;
	display:flex;
	flex-direction: row;
	margin-top: 143px;
	align-items: center;
	

}

.bigger-opacity {
	background: #48280a;
	height: 265px;
	width: 265px;
	box-sizing: border-box;
	border: 4px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity:0.5;
}

.fill-in {
	background: #48280a;
	height: 110px;
	width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20pt;
	transform: rotate(45deg);
	margin-left: 30%;
	opacity:0.5;
}
.fill-in p{
	transform: rotate(315deg);
}
.bigger-opacity p{
	font-size: 28pt;
}

.podbor{
	min-height: 1200px;
	background: #ab9665;
	display:flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color:white;
}

.podbor .button {
	max-width: 156px;
}

table {
	max-width: 700px;
}

td , th{
padding: 70px;
}
